{% extends '@EndroidCmSms/layout.html.twig' %}

{% block content %}
    <h1>CM SMS Dashboard</h1>
    <div id="application"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let appConfig = {
            loadPath: "{{ path('endroid_cm_sms_message_index') }}",
            testPath: "{{ path('endroid_cm_sms_message_send', { phoneNumber: '0000000000' }) }}",
        }
    </script>
    <script src="{{ preload(asset('/build/dashboard.js', 'endroid_cm_sms')) }}"></script>
{% endblock %}
