{% extends 'EndroidCmSmsBundle::layout.html.twig' %}

{% block page_title %}
    Messages and statuses
{% endblock %}

{% block page_content %}

    <div id="application"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            loadPath: "{{ path('endroid_cmsms__message_state') }}",
            testPath: "{{ path('endroid_cmsms__message_test', { phoneNumber: '0000000000' }) }}",
        }
    </script>

    {% if app.debug %}
        <script src="http://localhost:8080/builds/index.js"></script>
    {% else %}
        <script src="{{ asset('bundles/endroidcmsms/builds/index.js') }}"></script>
    {% endif %}

{% endblock %}